body {
    background: #151515 url(../img/bkg.png) 0 0;
    color: #eaeaea;
    font: 16px;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* General & "Reset" Stuff */
.container {
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
}

section {
    display: block;
    margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #b5e853;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-weight: normal;
    letter-spacing: -0.03em;
    margin: 0 0 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                 0 0 5px rgba(181, 232, 83, 0.1),
                 0 0 10px rgba(181, 232, 83, 0.1);
}

li {
    line-height: 1.4;
}

/* Header, <header>
     header - container
     h1     - project name
     h2     - project description
*/
header {
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px dashed #b5e853;
    margin: 0 0 40px 0;
    padding: 20px 0;
    width: 100%;
}

header h1 {
    color: #b5e853;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                 0 0 5px rgba(181, 232, 83, 0.1),
                 0 0 10px rgba(181, 232, 83, 0.1);
    -webkit-font-smoothing: antialiased;
}

header h1:before {
    content: "./ ";
    font-size: 24px;
}

header h2 {
    color: #666;
    font-size: 18px;
    font-weight: 300;
}

#downloads .btn {
    display: inline-block;
    margin: 0;
    text-align: center;
}

/* Main Content
*/
#main_content {
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

section img {
    max-width: 100%;
}

/*#main_content h1 {
    font-size: 30px;
}

#main_content h2 {
    font-size: 24px;
}

#main_content h3 {
    font-size: 18px;
}

#main_content h4 {
    font-size: 14px;
}

#main_content h5 {
    font-size: 12px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}

#main_content h6 {
    color: #999;
    font-size: 12px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}

dt {
    font-style: italic;
    font-weight: bold;
}

ul li {
    list-style: none;
}

ul li:before {
    color: #b5e853;
    content: ">>";
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 13px;
    line-height: 16px;
    margin-left: -37px;
    margin-right: 21px;
}

blockquote {
    border-left: 1px dotted #666;
    color: #aaa;
    padding-left: 10px;
}

pre {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 2px;
    color: #b5e853;
    font-size: 14px;
    -moz-border-radius: 2px;
    overflow: auto;
    overflow-y: hidden;
    padding: 10px;
    text-wrap: normal;
    -webkit-border-radius: 2px;
}

table {
    margin: 0 0 20px 0;
    width: 100%;
}

th {
    border-bottom: 1px dashed #b5e853;
    padding: 5px 10px;
    text-align: left;
}

td {
    padding: 5px 10px;
}

hr {
    border: 0;
    border-bottom: 1px dashed #b5e853;
    color: #b5e853;
    height: 0;
}*/

/* Buttons
*/
.btn {
    background-image: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    border-top: 2px solid rgba(0, 0, 0, 1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 18px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.btn:hover {
    background-image: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
    background-image: -moz-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
    display: inline-block;
    float: left;
    margin: 1px 8px 0 0;
    width: 16px;
    height: 16px;
}

.btn-github .icon {
    background: url(../img/blacktocat.png) 0 0 no-repeat;
    opacity: 0.6;
}

/* Links
*/
a:link {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:visited {
    color: #c71585; /*MediumVioletRed*/
}

/* Clearfix */
/*.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}*/
