/*.opensdf
/*.sdf
/*.suo
/.vs/
/[Aa][Ss]tyle.exe
/bin/
/cov-int/
/ipch/
/PerfmonBar.tgz
/setup/PerfmonBar*.exe
/src/*.aps
/src/*.user
/src/dlldata.c
/src/PerfmonBar_i.c
/src/PerfmonBar_i.h
/src/PerfmonBar_p.c
/src/Version.h
