/*.opensdf
/*.sdf
/*.suo
/[Aa][Ss]tyle.exe
/bin
/build.user.bat
/cov-int
/ipch
/PerfmonBar.lzma
/PerfmonBar.tgz
/setup/PerfmonBar*.exe
/src/*.aps
/src/*.user
/src/dlldata.c
/src/PerfmonBar_i.c
/src/PerfmonBar_i.h
/src/PerfmonBar_p.c
/src/Version.h
