name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: 2

jobs:
  ci:
    runs-on: windows-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          # We need to get all git revisions for the version number to work
          fetch-depth: 0

      - name: Add MSVC to PATH
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build
        run: CALL "build.bat" Build All Release
        shell: cmd

      - name: Set Version variable
        run: echo "PERF_VER=$(grep VER_STR src/Version.h | cut -d'"' -f2)" >> $GITHUB_ENV
        shell: bash

      - name: Upload setup
        uses: actions/upload-artifact@v3
        with:
          name: "PerfmonBar.${{ env.PERF_VER }}"
          path: "setup/PerfmonBar.${{ env.PERF_VER }}.exe"
          if-no-files-found: error
